/*--------------------------------------------------------------
3.2 - Layout
--------------------------------------------------------------*/
body {
	background: url("http://2014.la.wordcamp.org/files/2014/05/wcla14_tileBG-footer.png") center bottom repeat-x;
}

/* Header */
#masthead hgroup,
#masthead nav div > ul {
	float: none;
	margin: 0 auto;
	width: 100%;
}


#masthead {
	background: url("http://2014.la.wordcamp.org/files/2014/06/wcla14_header-bgSub-opt.jpg") center top no-repeat #000;
	height: $subheader-height;
	position: relative;
		
	@include bp(medium) {
		height: 380px;					
	}

	@include bp(small) {
		height: 250px;
	}

	.home & {
		background: url("http://2014.la.wordcamp.org/files/2014/06/wcla14_header-bgImg-fade-opt.jpg") center top no-repeat #000;
		height: $home-header-height;
		
		@include bp(medium) {
			height: 380px;					
		}
	
		@include bp(small) {
			height: 250px;
		}
	}

	.site-title {
		text-align: center;

		a {
			content: url("http://2014.la.wordcamp.org/files/2014/06/wcla14_logo-opt.png");
			font-size: 0px;
			margin: 0 auto;
			height: 300px;

			.home & {
				height: 527px;
		
				@include bp(large) {
					height: 449px;					
				}
				
				@include bp(medium) {
					height: 300px;					
				}
			
				@include bp(small) {
					height: 160px;
				}
			}
			
			@include bp(small) {
				height: 160px;
			}
		}
	}

	.site-description {
		display: none;
	}
}


/* Content & Sidebar */
#page {
	background: url("http://2014.la.wordcamp.org/files/2014/05/wcla14_tileBG-features.png") center $subheader-height repeat-x;
	
	@include bp(medium) {
		background-position: center $subheader-height-medium;			
	}

	@include bp(small) {
		background-position: center $subheader-height-small;
	}

	.home & {
		background: url("http://2014.la.wordcamp.org/files/2014/05/wcla14_tileBG-features.png") center $home-header-height repeat-x;
	
		@include bp(medium) {
			background-position: center $subheader-height-medium;			
		}

		@include bp(small) {
			background-position: center $subheader-height-small;
		}
	}
}

#main {
	margin: 0 auto;
	width: 100%;
	
	@include scut-clearfix;
}

#colophon {
	clear: both;
	margin: 0 auto;
	width: 100%;
}

#primary {
	float: left;
	width: 72%;
	margin-left: 1.5%;
	
	@include bp(medium) {
		float: none;
		width: 90%;
		margin: 1em auto;
	}
}

#secondary {
	float: right;
	width: 22%;
	margin-right: 1.5%;
	
	@include bp(medium) {
		float: none;
		width: 90%;
		margin: 1em auto;
	}
}

/* Footer */
#colophon {
	padding: 20px 0;

	.site-info-generator {
		display: block;
		text-align: center;

		&:before {
			content: url("http://2014.la.wordcamp.org/files/2014/05/wcla14_greyW-transparentBg.png");
			display: block;
		}
	}

	.site-info-network {
		position: absolute;
		top: 12px;
		left: 4px;
	
		@include bp(small) {
			top: 6px;
			@include scut-rem-fallback(11);
		}
	}
}