/*--------------------------------------------------------------
5.0 - Navigation
--------------------------------------------------------------*/
nav.main-navigation {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .7);
	position: absolute;
	bottom: 0;

	&:hover {
		//background: rgb(255, 255, 255);
		//background: rgba(255, 255, 255, 1.0);
	}
	
	.menu-primary-container {
		width: 100%;
		max-width: $site-width;
		margin: 0 auto;
	}

	.menu {
		height: 65px;
		line-height: 65px;

		li {
			a {
				color: #000;
				font-weight: 700;
				font-size: 18px;
				font-size: 1.8rem;
				padding: 0 16px;
				text-shadow: 1px 1px 1px #fff;
				text-transform: uppercase;
				@include transition(all, 200ms, ease-in-out);
					
				@include bp(large) {
					font-size: 16px;
					font-size: 1.6rem;
					padding: 0 0.75em;
				}
			}

			&:hover > a {
				background: rgb(255, 255, 255);
				background: rgba(255, 255, 255, .5);
			}

			ul {
				background: rgb(255, 255, 255);
				background: rgba(255, 255, 255, .9);
				top: 65px;

				li:hover > a {
					background: $color__teal;
				}
			}
		}
	}
}

.main-small-navigation { // ¯\_(ツ)_/¯
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .7);
	display: block;
	padding: 1em 0;
	position: absolute;
		bottom: 0;
		text-align: center;
	width: 100%;

	.menu-toggle {
		font-size: 24px;
		font-size: 2.4rem;
		text-align: center;
	}

	li a {
	}
	
	#menu-primary {
		position: absolute;
		top: 4.25em;
		bottom: auto;
		z-index: 100;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, .7);
		
		ul li {
			list-style: none;
		}
	}
}

/*--------------------------------------------------------------
5.1 - Links
--------------------------------------------------------------*/
a,
a:active,
a:visited {
	color: $color__orange-dark;
	text-decoration: none;
}

a:hover {
	color: $color__orange;
}

#colophon {
	a,
	a:active,
	a:visited {
		color: $color__gray-dark;
		text-shadow: 1px 1px 1px #fff;
	}

	a:hover {
		color: $color__gray-dark;
	}

	a.site-info-network {
		color: $color__orange;
		text-shadow: 1px 1px 1px #000;
	}
}