/*--------------------------------------------------------------
3.3 - Subpage layouts
--------------------------------------------------------------*/

/* Organizers Page */
.wcorg-organizers {
	clear: both;
	overflow: hidden;

	.wcorg-organizer {
		float: left;
		padding: 1%;
		width: 23%;
		@include bp(large) {
			width: 48%;
		}

		img {
			margin: 1em 0;
			display: block;
			width: 80%;
			padding: 10%;
			background: $color__gray-light;
		}
	}
}

/* Responsive columns for use inside page/post content since we can't use shortcodes */

.cols2, .cols3, .cols4 {
	.cols {
		padding: 1.5%;
	}
}

.cols2 {
	@include clearfix;
	.col {
		float: left;
		width: 47%;
		@include bp(medium) {
			float: none;
			width: 97%;
		}
	}
}

.cols3 {
	@include clearfix;
	.col {
		float: left;
		width: 30%;
		@include bp(medium) {
			float: none;
			width: 97%;
		}
	}
}

.cols4 {
	@include clearfix;
	.col {
		float: left;
		width: 22%;
		@include bp(large) {
			width: 47%;
		}
		@include bp(medium) {
			float: none;
			width: 97%;
		}
	}
}
