/*--------------------------------------------------------------
3.3 - Subpage layouts
--------------------------------------------------------------*/

/* Organizers Page */
.wcorg-organizers {
	clear: both;
	overflow: hidden;

	.wcorg-organizer {
		float: left;
		padding: 1%;
		width: 23%;
		@include bp(large) {
			width: 48%;
		}

		img {
			margin: 1em 0;
			display: block;
			width: 80%;
			padding: 10%;
			background: $color__gray-light;
		}
	}
}

/* Attendees Page */

/* Schedule Page(s) */
.wcpt-schedule {
	margin: 1em 0;
	thead th {
		background: $color__orange-dark;
		color: white;
		text-transform: uppercase;
	}
	th, td {
		padding: 0.5em;
	}
	td {
		border-bottom: 1px solid $color__orange;
		padding: 1em 0.5em;
	}
	.wcpt-session-title {
		display: block;
		font-size: 1.125em;
	}
	.wcpt-col-time {
		width: 14%;
	}
	.wcpt-col-track {
		width: 28%;
	}
	.wcpt-session-speakers {
		display: block;
		font-style: italic;
		margin: 1em 0 0 0;
		&:before {
			content: 'Speaker: ';
		}
		a {
			color: darken($color__teal,20%);
		}
	}
	.lunch-break td {
		background: $color__orange-light;
		.scb-session-lunch-break {
			text-align: center;
		}
	}
}



/* Responsive columns for use inside page/post content since we can't use shortcodes */

.cols2, .cols3, .cols4 {
	.cols {
		padding: 1.5%;
	}
}

.cols2 {
	@include clearfix;
	.col {
		float: left;
		width: 47%;
		@include bp(medium) {
			float: none;
			width: 97%;
		}
	}
}

.cols3 {
	@include clearfix;
	.col {
		float: left;
		width: 30%;
		@include bp(medium) {
			float: none;
			width: 97%;
		}
	}
}

.cols4 {
	@include clearfix;
	.col {
		float: left;
		width: 22%;
		@include bp(large) {
			width: 47%;
		}
		@include bp(medium) {
			float: none;
			width: 97%;
		}
	}
}
