/*--------------------------------------------------------------
2.0 - Typography
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: $color__orange-dark;
	font-family: $sans-serif;
	text-transform: uppercase;
}

h1 {

}

p {

}