
#primary-sidebar aside {

	h1 {
		background: $color__orange-dark;
		color: #fff;
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 12px;
		padding: 24px 0 0 0;
		text-align: center;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0 0 1.5em 0;

		li {
			padding: .5em;
		}
	}
}


/* After Header Widgets */
#after-header-widgets {
	clear: both;
	margin: 40px auto;
	overflow: hidden;
	width: 100%;
	max-width: $site-width;

	.widget {
		float: left;
		text-align: center;
		width: 25%;
			
		@include bp(medium) {
			width: 47.5%;
			margin: 0 1% 1em 1%;
			overflow-wrap: break-word;
			@include scut-rem-fallback(330, min-height);
		}
			
		@include bp(small) {
			float: none;
			width: 95%;
			margin: 1em auto;
			min-height: auto;
		}

		img {
			@include transition(all, 200ms, ease-in-out);
		}

		&:hover img  {
			@include transform(scale(1.1));
		}
	}
}

#searchform {
	.field {
		max-width: 100%;
	}
}